* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: aliceblue;
}
form {
  margin-top: 50px;
}
.quiz-container {
  width: 80%;
  margin: 50px auto;
}

h1 {
  text-align: center;
}

.question {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}
.question:nth-child(odd) {
  margin-right: 5%;
}
.question p {
  font-weight: bold;
  line-height: 1.5rem;
}

.answers {
  margin-bottom: 20px;
}
.answers label:not(:first-child) {
  border-top: 1px solid #e0e0e0;
}

label {
  padding: 10px 0;
  display: block;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

.submit-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.result {
  font-weight: bold;
  font-size: 22px;
  margin-top: 20px;
  padding: 30px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
}
.d-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
